[ req ]
distinguished_name      = req_distinguished_name

[ req_distinguished_name ]
countryName                     = Country Name (2 letter code)
countryName_default             = RU
countryName_min                 = 2
countryName_max                 = 2

stateOrProvinceName             = State or Province Name (full name)
stateOrProvinceName_default     = Russia

localityName                    = Locality Name (eg, city)
localityName_default            = Moscow

0.organizationName              = Organization Name (eg, company)
0.organizationName_default      = IT Dept.

organizationalUnitName          = Organizational Unit Name (eg, section)
organizationalUnitName_default	= IT Dept.

# Don't edit commonName_default field
commonName                      = Common Name (eg, YOUR name)
commonName_default              = host

emailAddress                    = Email Address
emailAddress_default            = none@one.ru
